* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --nav-bg-color: #bab6b6;
  --active-nav-bg-color: rgb(90 156 148);
  --radius: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.slider {
  width: 600px;
  height: 385px;
  position: relative;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider .next {
  right: -25px;
}
.slider .prev {
  left: -25px;
}
.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  cursor: pointer;
  z-index: 2;
}
.prev-img,
.next-img {
  border-radius: var(--radius);
  width: 50px;
  height: 50px;
  fill: wheat;
  background-color: var(--active-nav-bg-color);
  padding: 5px;
}
.slides-list {
  display: flex;
}
.slide {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  border-radius: var(--radius);
}
.active-slide {
  opacity: 1 !important;
}
.slides-nav {
  position: relative;
  z-index: 2;
  top: 60px;
}
.slides-nav > ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.active-slide-nav {
  background-color: var(--active-nav-bg-color) !important;
}
